body > * {
    margin: 10px;
}

.content {
    width: 45%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.newAnswerForm {
    width: 45%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.answer {
    width: 45%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

img {
    max-width: 300px;
    max-height: 300px;
}