@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

* {
    font-family:"Nunito Sans";
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; /* vertical */
    justify-content: center; /* horizontal */
}
form {
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    width: 500px;
}
.register-button {
    width: 100%;
    
}
.submit-button {
    width: 45%;
}
.login-button, .submit-button {
    cursor: pointer;
    transition: 0.3s background-color ease-in-out;
}
#buttons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
a {
    width: 45%;
}
.login-button:hover, .submit-button:hover {
    background-color: #69cbf9 !important;
    color: white;
}